# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class
# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
# VS Code settings
.vscode/
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# macOS and Linux system files
.DS_Store
Thumbs.db
# Python egg files
*.egg
*.egg-info/
dist/
build/
# Pytest cache
.pytest_cache/
# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
# MyPy
.mypy_cache/
# Local IDE configurations
.idea/